RedirectMatch 403 ^/upload/files/$
RedirectMatch 403 ^/upload/upload.config.json$
RedirectMatch 403 ^/sync/steckbriefe.*?$

RewriteEngine on
RewriteRule ^steckbriefe/random.([a-zA-Z]+)$ steckbrief-random.php?format=$1 [L]
RewriteRule ^files/upload$ upload/upload.php$1 [L]
RewriteRule ^files/(.*)$ upload/files/$1 [L]

